# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log

# Ignore environment configuration file
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore cache and temporary files
npm-debug.log*
